.notfound {
    height: 80vh;
}
.notfound__title {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: $center;
    text-transform: uppercase;
}
