body {
  margin: 0;
  padding: 0;
}

header {
  height: 11vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), black);
  display: flex;
}

header img {
  width: 100%;
  margin: 10%;
}

@media screen and (min-width: 1023px) and (max-width: 1025px) {
  header img {
    width: 250%;
  }
}

@media screen and (min-width: 410px) and (max-width: 412px) {
  header img {
    width: 80%;
  }
}

@media screen and (min-width: 374px) and (max-width: 376px) {
  header img {
    width: 85%;
  }
}

.Poster {
  width: 100%;
  height: 89vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.4)), url(https://wallpaperstream.com/wallpapers/thumbnails/avengers-infinity-war/Avengers-Infinity-War-Full-Casts-Poster_thumb2x.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Poster__h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #f0f0f0;
  text-shadow: 1px 1px #1d1d1d;
}

.Poster__p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  width: 75%;
  color: #f0f0f0;
  text-shadow: 1px 1px #1d1d1d;
}

@media screen and (min-width: 1023px) and (max-width: 1025px) {
  .Poster__h1 {
    font-size: 2.8rem;
  }
  .Poster__p {
    font-size: 1.2rem;
  }
}

@media (max-width: 750px) {
  .Poster__h1 {
    font-size: 1.65rem;
  }
  .Poster__p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 319px) and (max-width: 321px) {
  .Poster__h1 {
    font-size: 1.2rem;
  }
  .Poster__p {
    font-size: 0.75rem;
  }
}

.SearchBox {
  background-image: linear-gradient(to bottom, #66666647, white);
}

.SearchBox input {
  display: flex;
  box-shadow: 6px 4px 5px #969696;
}

.Movies__h1 {
  text-align: center;
  text-shadow: 1px 1px #1d1d1d;
}

.Movies__Elements {
  background-image: radial-gradient(circle, #d3d3d3, #fff);
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  grid-gap: 40px;
}

.Movies__Elements--img {
  animation: AnimateGrid 0.5s;
  justify-self: center;
  border: 1px solid #e1e1e1;
  box-shadow: 2px 2px 5px #646464;
  border-radius: 5%;
  cursor: pointer;
}

@keyframes AnimateGrid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1177px) {
  .Movies__Elements {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 937px) {
  .Movies__Elements {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 695px) {
  .Movies__Elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 501px) {
  .Movies__Elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  height: 11vh;
  background: linear-gradient(to bottom, white, #d3d3d3);
  display: flex;
}

footer img {
  width: 100%;
  margin: 10%;
}

@media screen and (min-width: 1023px) and (max-width: 1025px) {
  footer img {
    width: 250%;
  }
}

@media screen and (min-width: 410px) and (max-width: 412px) {
  footer img {
    width: 80%;
  }
}

@media screen and (min-width: 374px) and (max-width: 376px) {
  footer img {
    width: 85%;
  }
}
/*# sourceMappingURL=Main.css.map */