$instagramColor: #e1306c;
$twitterColor: #00acee;
$telegramColor: #0088cc;
$mailColor: #dc483c;
$linkedinColor: #0e76a8;
$githubColor: #484646;
$gitlabColor: #e24329;

$white: #ffffff;
$dark: #2b2b2b;
$green: #16d47b;
$blue: rgba(0, 123, 255, 0.397);
$darkerGray: #545454;
$darkGray: #646464;
$gray: #d3d3d3;

$center: center;

@mixin hoverButtons {
    color: #fff;
    transition: 0.5s;
}
@mixin posterText {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: $white;
    text-shadow: 1px 1px #1d1d1d;
}
