.searchbox {
    background: $gray;
    border: 1px solid $darkerGray;
    box-shadow: 6px 4px 5px $darkerGray;
    &:focus {
        background: $darkGray;
        border: none;
        outline: none;
        box-shadow: 0 0 0 0.2rem $blue;
    }
}
