.loading__icon {
    width: 4rem;
    height: 4rem;
    animation: spinningButton 0.8s linear infinite;
    border: 0.3rem solid $white;
    border-top: 0.3rem solid $green;
    border-radius: 50%;
    margin: 1.4rem auto;
}
@keyframes spinningButton {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
