header {
    height: 11vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 1)
    );
    display: flex;
}
header img {
    width: 100%;
    margin: 10%;
}
@media screen and (min-width: 1023px) and (max-width: 1025px) {
    header img {
        width: 250%;
    }
}
@media screen and (min-width: 410px) and (max-width: 412px) {
    header img {
        width: 80%;
    }
}
@media screen and (min-width: 374px) and (max-width: 376px) {
    header img {
        width: 85%;
    }
}
