$whiteColor: #ffffff;

.sort {
    background: linear-gradient(to bottom, $whiteColor, #66666647);
    display: flex;
}
.sort {
    justify-content: center;
    margin-top: 1.2rem;
}
.sort i {
    font-size: 1.5rem;
    margin: 6px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 4px;
    &:hover {
        transform: translate(0px, -5px);
        transition: ease-out 0.5s;
    }
    &:active {
        background: rgb(199, 199, 199);
    }
}