footer {
    background: $dark;
}
.footer__links {
    justify-content: $center;
    border-bottom: 1px solid $darkGray;
}
.footer__links a {
    padding: 1rem;
}
.footer__links a[name="instagram"] {
    color: $instagramColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__links a[name="twitter"] {
    color: $twitterColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__links a[name="telegram"] {
    color: $telegramColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__links a[name="mail"] {
    color: $mailColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__links a[name="linkedin"] {
    color: $linkedinColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__links a[name="github"] {
    color: $githubColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__links a[name="gitlab"] {
    color: $gitlabColor;
    &:hover {
        @include hoverButtons();
    }
}
.footer__text {
    color: $gray;
    justify-content: $center;
}
