.navigation {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background: $darkerGray;
    padding: 6px 0;
}
.navigation__link {
    font-size: 18px;
    color: rgb(44, 44, 44);
    text-decoration: none;
    &:hover {
        color: chartreuse;
        text-decoration: none;
    }
}
.navigation__span {
    font-size: 16px;
    color: white;
}
